openapi: 3.1.0
info:
  title: Namma BMTC 2.0 OpenAPI
  version: "1.0.0"
  summary: Unofficial API description for the Namma BMTC 2.0 (Chalo) Android app.
  description: |
    Unofficial reference for APIs and functionality used by Namma BMTC 2.0,
    covering service discovery, live tracking, trip planning, ticketing, passes,
    wallets, payments and ONDC mobility.

    ## Operation groups

    Operations in **Public**, **Other** and **Authentication** carry `security: []` and
    reach the server with no credentials. **Public** contains the primary transit APIs,
    followed by lower-priority public utilities in **Other** and the login flow in
    **Authentication**. **Authenticated** operations require the `userId` and
    `ACCESS_TOKEN` headers.

    ## Notes

    - A schema's `required` fields describe what the client expects to receive; the service
      may omit fields in error responses or in variants not yet seen in live traffic.
    - No per-vehicle attributes are exposed: a live vehicle carries only `vNo`, position,
      bearing, `eta` and halted state, and `/seat/availability` only a crowding level. The
      route's service class (`spf`; see `BmtcServiceClass`) is the sole vehicle-type signal
      and covers air-conditioning alone, so electric buses are indistinguishable from diesel.
    - Not affiliated with, endorsed by, or supported by BMTC or Chalo. For
      documentation and research purposes only.
  contact:
    name: Unofficial community documentation; not affiliated with BMTC or Chalo
servers:
  - url: https://production.zophop.com
    description: Primary production API host.
  - url: https://{env}.zophop.com
    description: Environment-templated host.
    variables:
      env: { default: production, enum: [production, dev, preprod] }
  - url: https://api.zophop.com
    description: Secondary API host.
  - url: https://geoquery.zophop.com
    description: Geo-query host; serves nearbybus/*.
  - url: https://cash.zophop.com
    description: Wallet and cash host.
  - url: https://chalo.com
    description: Chalo host; serves app/api/vasudha/*.
  - url: https://maps.googleapis.com/maps/api
    description: Google Maps host; serves geocode/json.
tags:
  - name: "Routes"
    description: "Find routes, route corridors and detailed route information."
  - name: "Stops"
    description: "Find stops and retrieve stop details, images and route stop lists."
  - name: "Trips"
    description: "Plan journeys and retrieve scheduled or nearby trip options."
  - name: "Live Tracking"
    description: |
      Real-time vehicle positions, ETAs and live-feed configuration.

      ### Using the live-tracking socket

      1. Call `GET /configuration/crts/live/v2/cities/{city}` with a URL-encoded
         `meta` JSON object. No token is required.
      2. Connect to `connection.baseUrl` with Socket.IO, using `connection.path` as
         the transport path, the default `/` namespace and Engine.IO 3.
      3. Emit `subscribe` for continuous updates or `once` for a snapshot. Send a
         JSON-string argument with `requestId` and a `ref`: `routes:<route_id>` for
         vehicle positions or `etas:<stop_id>:<route_id>` for arrivals.
      4. Listen for `message` events containing `ref`, `res` and optionally
         `requestId`. Maintain the Engine.IO heartbeat and disconnect to release
         subscriptions.
  - name: "Fares"
    description: "Pre-purchase fare, seat and trip-slot quotes."
  - name: "Search & Geocoding"
    description: "Place search, place details, forward and reverse geocoding."
  - name: "App Bootstrap Config"
    description: "Remote config, feature flags, content and the public product catalogue."
  - name: "Misc Public"
    description: "Emergency SOS, punch polling and payment status."
  - name: "Obtaining a token"
    description: |
      Use the public authentication endpoints below to obtain the credentials required by
      the authenticated API operations.

      1. Call `POST /chaukidar/v1/otp` with the mobile number and country code. Use
         `POST /chaukidar/v1/resend-otp` if another OTP is needed.
      2. Call `POST /chaukidar/v1/app/login` with `AuthType: SMS`, the OTP and the
         returned `refNo`.
      3. Save `accessToken`, `refreshToken` and `userProfile.userId` from the login
         response. Send the user ID in `userId` and the access token in `ACCESS_TOKEN`
         on authenticated operations.
      4. Exchange an expired token through `POST /chaukidar/v1/refreshTokens`. Use
         `POST /chaukidar/v1/logout` to invalidate the session.

      A valid token may not be sufficient to replay authenticated calls because the
      service may also require client-identification and request-signing headers.
  - name: "Mobile Ticketing & Passes"
    description: "Ticket and pass purchase, bookings, e-bill and NCMC card."
  - name: "Premium/Reserved Bus (TUB)"
    description: "Seat layouts and booking trip details."
  - name: "ONDC Mobility"
    description: "ONDC booking, ticketing and receipts."
  - name: "Wallet & Payments"
    description: "Chalo wallet, closed-loop wallet (cldw) and PPI operations."
  - name: "Payment Manager"
    description: "Payment provider orders, methods and UPI actions."
  - name: "User Profile"
    description: "Profile, saved places, saved rides and privacy agreements."
  - name: "Personalized Config"
    description: "Home screen, product catalogue and plans scoped to the user."
  - name: "File Upload"
    description: "Document and photo upload for pass applications."
x-tagGroups:
  - name: Public (no authentication)
    tags: ["Routes", "Stops", "Trips", "Live Tracking", "Fares"]
  - name: Other
    tags: ["Search & Geocoding", "App Bootstrap Config", "Misc Public"]
  - name: Authentication
    tags: ["Obtaining a token"]
  - name: Authenticated
    tags:
      [
        "Mobile Ticketing & Passes",
        "Premium/Reserved Bus (TUB)",
        "ONDC Mobility",
        "Wallet & Payments",
        "Payment Manager",
        "User Profile",
        "Personalized Config",
        "File Upload",
      ]
security:
  - accessToken: []
    userId: []
paths:
  # =========================== PUBLIC (no authentication) ===========================
  "/scheduler_v4/v4/{city}/autocomplete/route":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Routes"]
      operationId: get_scheduler_v4_v4_city_autocomplete_route
      summary: "Search routes by name"
      security: []
      parameters:
        - name: day
          in: query
          required: true
          description: Day of week used to select the active route catalogue.
          schema: { type: string }
          example: Friday
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          { $ref: "#/components/schemas/RoutesDetailApiModel" },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    [
                      {
                        special_features: [],
                        result_type: ROUTE,
                        route_id: mK2rtXc5,
                        agency_name: BMTC,
                        routePassEnabled: false,
                        route_name: "104",
                        spf: [Ordinary],
                        first_stop_name: Sadashivanagara,
                        isFreeRide: false,
                        match_ratio: 0,
                        last_stop_name: Kempegowda Bus Station(Majestic/KBS),
                        mTicketEnabled: true,
                        transport_type: bus,
                        direction_stop_name: Kempegowda Bus Station(Majestic/KBS),
                        station_type: bus,
                      },
                    ]
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v1/{city}/routes/corridors":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Routes"]
      operationId: get_scheduler_v4_v1_city_routes_corridors
      summary: "Route corridors near a point"
      description: |-
        Corridors (grouped route families) for one service type, ranked around a coordinate. Backs the
        premium-bus home surface.
      security: []
      parameters:
        - name: serviceType
          in: query
          required: true
          description: "Route service type to filter by; the app sends the enum name."
          schema: { type: string, enum: [PREMIUM] }
          example: PREMIUM
        - name: lat
          in: query
          required: false
          description: "Latitude to rank around, when a location is available."
          schema: { type: number }
          example: 12.91691
        - name: lon
          in: query
          required: false
          description: "Longitude to rank around, when a location is available."
          schema: { type: number }
          example: 77.62136
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      { $ref: "#/components/schemas/RoutesResponseApiModel" },
                      { type: "null" },
                    ],
                }
        "400":
          description: Premium corridors are not available in Bengaluru.
          content:
            text/plain:
              schema: { type: string }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value: "Premium service not available for city: bengaluru"
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v5/{city}/routesbetweenstops":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Routes"]
      operationId: get_scheduler_v4_v5_city_routesbetweenstops
      summary: "Routes between two stops"
      description: |-
        Origin/destination route options between a stop pair, with fare-relevant flags.
      security: []
      parameters:
        - name: fromStopId
          in: query
          required: true
          description: "Origin stop ID."
          schema: { type: string }
          example: 6YPIHIgA
        - name: toStopId
          in: query
          required: true
          description: "Destination stop ID."
          schema: { type: string }
          example: dneIu5bn
        - name: mTicketEnabled
          in: query
          required: true
          description: "Sent as `true` by the app; restricts results to mobile-ticketable routes."
          schema: { type: boolean }
          example: true
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/OriginDestinationApiModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    [
                      {
                        specialFeatures: [],
                        fromStop:
                          {
                            name: Electronic City KIA,
                            lon: 77.66201,
                            id: 6YPIHIgA,
                            lat: 12.85049,
                          },
                        routeId: NsbPdEdi,
                        toStop:
                          {
                            name: Kempegowda International Airport,
                            lon: 77.70774,
                            id: dXF9lhdh,
                            lat: 13.19916,
                          },
                        spf: [Vayu Vajra],
                        lastStop:
                          {
                            name: Kempegowda International Airport,
                            lon: 77.70774,
                            id: dXF9lhdh,
                            lat: 13.19916,
                          },
                        serviceCategory: VVJ,
                        firstStop:
                          {
                            name: Electronic City Wipro Main Gate,
                            lon: 77.65742,
                            id: uPOlfcFT,
                            lat: 12.83594,
                          },
                        routeName: KIA-8E,
                      },
                    ]
        default: { $ref: "#/components/responses/GenericError" }
  "/ondc/buyer/v1/suggest/{cityId}/routes":
    parameters:
      - {
          name: cityId,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Routes"]
      operationId: get_ondc_buyer_v1_suggest_cityId_routes
      summary: "Suggested ONDC routes"
      description: |-
        Route suggestions for a city and mode, with no origin/destination pinned.
      security: []
      parameters:
        - name: transitMode
          in: query
          required: true
          description: "Transit mode, upper-cased by the client."
          schema: { type: string }
          example: METRO
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/OndcMetroRouteSearchResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value: { routes: [] }
        default: { $ref: "#/components/responses/GenericError" }
  "/ondc/buyer/v1/search/{cityId}/routes":
    parameters:
      - {
          name: cityId,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Routes"]
      operationId: get_ondc_buyer_v1_search_cityId_routes
      summary: "ONDC routes between two stops"
      description: |-
        Route options for an ONDC origin/destination pair.
      security: []
      parameters:
        - name: fromStopId
          in: query
          required: true
          description: "Origin stop ID."
          schema: { type: string }
          example: qih5mR2N
        - name: toStopId
          in: query
          required: true
          description: "Destination stop ID."
          schema: { type: string }
          example: 4RS7uUdv
        - name: transitMode
          in: query
          required: true
          description: "Transit mode."
          schema:
            {
              type: string,
              enum: [BUS, RAILWAY, METRO, MONORAIL, FERRY, CAB, TRANSIT],
            }
          example: METRO
        - name: routeId
          in: query
          required: false
          description: "Pin the search to one route, when known."
          schema: { type: string }
          example: SHwjoGlU
        - name: appVer
          in: header
          required: true
          description: "Client version code required by the ONDC gateway."
          schema: { type: integer }
          example: 1340
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/OndcRouteSearchResultApiModel",
                      },
                      { type: "null" },
                    ],
                }
        "500":
          description: No ONDC seller is currently available for this Bengaluru stop pair.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      error:
                        {
                          code: 1004,
                          message: No seller found for route/stop,
                          status: INTERNAL,
                          detail:
                            [
                              {
                                type: SERVER_ERROR,
                                reason: INTERNAL_SERVER_ERROR,
                                metaData:
                                  {
                                    url: /ondc/buyer/v1/search/bengaluru/routes,
                                  },
                              },
                            ],
                        },
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v5/{city}/routedetails":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    post:
      tags: ["Routes"]
      operationId: post_scheduler_v4_v5_city_routedetails
      summary: "Route details in bulk, versioned"
      description: |-
        Bulk route sync. The client sends `routeIdsToVersionMap` (route id -> cached version) and the server
        returns only routes whose version has moved on.
      security: []
      parameters:
        - name: isBackgroundSync
          in: query
          required: true
          description: "Whether this is a background sync rather than a user-initiated fetch."
          schema: { type: boolean }
          example: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: "#/components/schemas/RoutesDataRequestDataApiModel" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    location: { lat: 12.91691, lng: 77.62136 },
                    meta:
                      {
                        androidModel: generic-client,
                        androidVersionCode: 1340,
                        city: bengaluru,
                        language: en,
                        osVersion: 35,
                        userId: "",
                      },
                    routeIdsToVersionMap: { WflFF29b: 0 },
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/RoutesDataResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      routes:
                        [
                          {
                            routeId: WflFF29b,
                            staticData:
                              {
                                specialFeatures: [Vayu Vajra],
                                agency_name: BMTC,
                                route_name: KIA-8,
                                ttSid: 0,
                                stationType: BUS,
                              },
                            version: 0,
                            liveData:
                              {
                                routePassEnabled: false,
                                mTicketEnabled: true,
                                isFreeRide: false,
                                isAirportRoute: false,
                                isPremiumBusRoute: false,
                              },
                            status: UPDATED,
                          },
                        ],
                      version: 112,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/routedetails":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Routes"]
      operationId: get_scheduler_v4_v4_city_routedetails
      summary: "Route details (legacy)"
      description: |-
        Single-route detail with its stop sequence, polyline and timetable. Superseded by the `v5` bulk
        endpoint, still used for one-off lookups.
      security: []
      parameters:
        - name: route_id
          in: query
          required: true
          description: "Route to fetch."
          schema: { type: string }
          example: WflFF29b
        - name: day
          in: query
          required: true
          description: "Day of week to evaluate the timetable for."
          schema: { type: string }
          example: Friday
        - name: meta
          in: query
          required: false
          description: "JSON-encoded client metadata blob."
          schema: { type: string }
          example: '{"city":"bengaluru","osVersion":35,"language":"en","androidModel":"generic-client","androidVersionCode":1340}'
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/RouteDetailsResponseOldApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      route:
                        {
                          route_id: WflFF29b,
                          routePassEnabled: false,
                          shortTripEnabled: false,
                          isFreeRide: false,
                          stopSequenceWithDetails:
                            [
                              {
                                stop_lon: 77.66201,
                                city: BENGALURU,
                                stop_id: 6YPIHIgA,
                                transport_type: bus,
                                stop_lat: 12.85049,
                                stateCode: KA,
                                short_id: 28419,
                                station_type: BUS,
                                stop_name: Electronic City KIA,
                              },
                            ],
                          agency_name: BMTC,
                          route_name: KIA-8,
                          spf: [Vayu Vajra],
                          transport_type: bus,
                          station_type: BUS,
                        },
                      timeTable:
                        [
                          {
                            start_time: 600,
                            isFrequency: false,
                            extrapolated: true,
                          },
                        ],
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/routes/id":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Routes"]
      operationId: get_scheduler_v4_v4_city_routes_id
      summary: "Whole-network route directory"
      description: |-
        Every route in the city for one transit mode, each with its stop sequence, polyline and
        service class. One call returns the whole network (9,058 direction entries and roughly 100 MB
        for Bengaluru buses), making it the cheapest way to read `spf` for every route and far too
        heavy to poll. Directions are separate entries sharing a `route_name`, and about 1% of names
        carry a different `spf` per direction, usually `Ordinary` against `Ordinary Express`.
      security: []
      parameters:
        - name: mode
          in: query
          required: true
          description: "Transit mode to list."
          schema: { type: string }
          example: bus
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/RouteDirectoryEntryApiModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 19 September 2026
                  value:
                    [
                      {
                        direction: UP,
                        route_id: 5Fl6gfg4,
                        reverse_routeId: "",
                        transport_type: bus,
                        station_type: BUS,
                        route_name: "305",
                        agency_name: BMTC,
                        internalName: KMT-NDV,
                        spf: [Ordinary],
                        owners: [app, etim],
                        totalDistance: 27931,
                        tt_type: 1,
                        ttStatus: 0,
                        ttSid: 0,
                        ticketingAllowed: true,
                        mTicketEnabled: true,
                        isFreeRide: false,
                        routePassEnabled: false,
                        stopPassEnabled: false,
                        isPremiumBusRoute: false,
                        isAirportRoute: false,
                        shortTripEnabled: false,
                        stopSequenceWithDetails:
                          [
                            {
                              stop_id: Afqg410p,
                              stop_lat: 12.96437,
                              stop_lon: 77.57736,
                              stop_name: KR Market,
                              short_id: 27795,
                              transport_type: bus,
                              station_type: BUS,
                              city: BENGALURU,
                              stateCode: KA,
                            },
                          ],
                      },
                    ]
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/nearby/stops":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Stops"]
      operationId: get_scheduler_v4_v4_city_nearby_stops
      summary: "Stops near a point"
      description: |-
        Stops closest to a coordinate, each annotated with its `distance` in metres.
      security: []
      parameters:
        - name: lat
          in: query
          required: true
          description: "Latitude of the search point."
          schema: { type: number }
          example: 12.91691
        - name: lon
          in: query
          required: true
          description: "Longitude of the search point."
          schema: { type: number }
          example: 77.62136
        - name: transitMode
          in: query
          required: true
          description: "Transit mode to search within."
          schema:
            {
              type: string,
              enum: [bus, railway, metro, monorail, ferry, cab, transit],
            }
          example: bus
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/NearbyStopsToLocationResponseApiModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    [
                      {
                        stop_id: qih5mR2N,
                        stop_lat: 12.91691,
                        stop_lon: 77.62136,
                        station_type: BUS,
                        stop_name: Central Silk Board,
                        distance: 0,
                      },
                    ]
        default: { $ref: "#/components/responses/GenericError" }
  "/ondc/buyer/v1/suggest/{cityId}/stops":
    parameters:
      - {
          name: cityId,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Stops"]
      operationId: get_ondc_buyer_v1_suggest_cityId_stops
      summary: "Suggested ONDC stops"
      description: |-
        Stop autocomplete for ONDC, sharing the search query map and response model with
        `/scheduler_v4/v5/{city}/search`.
      security: []
      parameters:
        - name: searchSource
          in: query
          required: true
          description: "Which search surface issued the query."
          schema: { type: string }
          example: HOME_SEARCH
        - name: str
          in: query
          required: true
          description: "The text the user typed."
          schema: { type: string }
          example: Silk Board
        - name: location
          in: query
          required: false
          description: 'Bias point, as JSON `{"lat":..,"lon":..}`.'
          schema: { type: string }
          example: '{"lat":12.91691,"lon":77.62136}'
        - name: meta
          in: query
          required: true
          description: "Client description, serialised to JSON: `userId`, `deviceId`, `language`, `androidVersionCode`."
          schema: { type: string }
          example: '{"city":"bengaluru","osVersion":35,"language":"en","androidModel":"generic-client","androidVersionCode":1340}'
        - name: searchFilter
          in: query
          required: false
          description: "Extra filter, sent only when non-empty."
          schema: { type: string }
        - name: day
          in: query
          required: false
          description: "Day of week, sent for the default (non-place) search flavour."
          schema: { type: string }
          example: Friday
        - name: station_type
          in: query
          required: false
          description: "Sent as `transit` for the default search flavour."
          schema: { type: string }
          example: transit
        - name: transitMode
          in: query
          required: false
          description: "Mode filter. The same value is sent as `category` on the city-independent variant."
          schema:
            {
              type: string,
              enum: [bus, railway, metro, monorail, ferry, cab, transit],
            }
          example: bus
        - name: category
          in: query
          required: false
          description: "See `transitMode`."
          schema: { type: string }
        - name: searchSourceFlow
          in: header
          required: true
          description: "Which UI flow the search came from."
          schema: { type: string }
          example: HOME_SEARCH
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/AutoCompleteResultApiResponseModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      data:
                        {
                          routes: [],
                          stopsAndPlaces:
                            [
                              {
                                result_type: PLACE,
                                searchPartner: heremaps,
                                description: "Silk Board Junction, Outer Ring Road, 1st Stage-Madiwala-Old Madiwala, BTM Layout, Bengaluru 560068, India",
                                place_id: "here:pds:place:356tdr1q-9f6fef191c20428181826472ddf7269b",
                              },
                              {
                                result_type: STOP,
                                match_ratio: 90,
                                stop_lon: 77.62136,
                                stop_id: qih5mR2N,
                                stop_lat: 12.91691,
                                station_type: BUS,
                                stop_name: Central Silk Board,
                              },
                            ],
                          trips: [],
                        },
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/stops/id":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Stops"]
      operationId: get_scheduler_v4_v4_city_stops_id
      summary: "List stops in a city"
      description: |-
        Full stop catalogue for the city, used to seed the local stop database. The trailing `id` segment is a
        literal, not a path parameter.
      security: []
      parameters:
        - name: mode
          in: query
          required: true
          description: "Transit mode (`ChaloTransitMode.mode`)."
          schema:
            {
              type: string,
              enum: [bus, railway, metro, monorail, ferry, cab, transit],
            }
          example: bus
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items: { $ref: "#/components/schemas/StopApiModel" },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    [
                      {
                        stop_id: 3F3DT3Wp,
                        stop_lat: 13.11213,
                        stop_lon: 77.39275,
                        stop_name: Nelamangala Railway Station,
                        short_id: 28313,
                        transport_type: bus,
                        station_type: BUS,
                        city: BENGALURU,
                        stateCode: KA,
                      },
                    ]
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/stopDetails":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    post:
      tags: ["Stops"]
      operationId: post_scheduler_v4_v4_city_stopDetails
      summary: "Stop details for a route"
      description: |-
        Names, descriptions, coordinates and image URLs for the requested stops of one route.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StopDetailsApiRequestBody" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value: { routeId: WflFF29b, stopIds: [6YPIHIgA, dXF9lhdh] }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/StopDetailsResponseApiModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    [
                      {
                        imageUrlList: [],
                        stopId: 6YPIHIgA,
                        location: { lon: 77.66201, lat: 12.85049 },
                        stopName: Electronic City KIA,
                      },
                    ]
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/stopImages":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    post:
      tags: ["Stops"]
      operationId: post_scheduler_v4_v4_city_stopImages
      summary: "Stop images for a route"
      description: |-
        Image URLs for the requested stops of one route.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StopImagesRequestBody" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value: { routeId: WflFF29b, stopIds: [6YPIHIgA, dXF9lhdh] }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/StopImagesResponseApiModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value: []
        default: { $ref: "#/components/responses/GenericError" }
  "/ondc/buyer/v1/route/{cityId}/stops":
    parameters:
      - {
          name: cityId,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Stops"]
      operationId: get_ondc_buyer_v1_route_cityId_stops
      summary: "Stops along an ONDC route"
      description: |-
        Ordered stop list for one route, used to render metro and bus line diagrams.
      security: []
      parameters:
        - name: routeId
          in: query
          required: true
          description: "Route to list stops for."
          schema: { type: string }
          example: SHwjoGlU
        - name: transitMode
          in: query
          required: true
          description: "Transit mode, upper-cased by the client."
          schema: { type: string }
          example: METRO
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/MetroLineStopListApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value: { stops: [] }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v5/{city}/tripplanner":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: BENGALURU,
        }
    get:
      tags: ["Trips"]
      operationId: get_scheduler_v4_v5_city_tripplanner
      summary: "Plan a trip between two points"
      description: |-
        Multi-leg itineraries between two coordinates. `{city}` is upper-cased by the client.
      security: []
      parameters:
        - name: from_lat
          in: query
          required: true
          description: "Origin latitude."
          schema: { type: number }
          example: 12.91691
        - name: from_lon
          in: query
          required: true
          description: "Origin longitude."
          schema: { type: number }
          example: 77.62136
        - name: to_lat
          in: query
          required: true
          description: "Destination latitude."
          schema: { type: number }
          example: 12.9569
        - name: to_lon
          in: query
          required: true
          description: "Destination longitude."
          schema: { type: number }
          example: 77.70215
        - name: mode
          in: query
          required: true
          description: "Transit mode; `trainish` covers metro plus rail."
          schema: { type: string }
          example: transit
        - name: start_time
          in: query
          required: true
          description: "Departure time, epoch seconds."
          schema: { type: integer }
          example: 1789098675
        - name: day
          in: query
          required: true
          description: "Day of week to evaluate timetables for."
          schema: { type: string }
          example: Friday
        - name: startTimeMillis
          in: query
          required: true
          description: "Departure time, epoch milliseconds."
          schema: { type: integer }
          example: 1789098675000
        - name: itinerary_type
          in: query
          required: true
          description: "Which family of itineraries to return."
          schema: { type: string }
          example: direct
        - name: meta
          in: query
          required: true
          description: "JSON-encoded client metadata blob."
          schema: { type: string }
          example: '{"city":"bengaluru","osVersion":35,"language":"en","androidModel":"generic-client","androidVersionCode":1340}'
        - name: from_stop_id
          in: query
          required: false
          description: "Pin the origin to a known stop."
          schema: { type: string }
        - name: to_stop_id
          in: query
          required: false
          description: "Pin the destination to a known stop."
          schema: { type: string }
        - name: max_walk_distance
          in: query
          required: false
          description: "Sent as `0` together with `max_taxi_distance` when the origin and destination are both pinned to stops."
          schema: { type: integer }
        - name: max_taxi_distance
          in: query
          required: false
          description: "See `max_walk_distance`."
          schema: { type: integer }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/TripPlannerResultApiResponseModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      payload:
                        {
                          nearbyItineraries: [],
                          itineraries:
                            [
                              {
                                distance: 10780,
                                inCompleteFare: false,
                                legs:
                                  [
                                    {
                                      first_stop_id: qg3wD8Qt,
                                      route_id: eX2DX38n,
                                      distance: 10780,
                                      travel_time: 1796,
                                      frequency: 0,
                                      mode: BUS,
                                      isFrequencyLeg: false,
                                      end_place_name: Marathahalli Bridge,
                                      start_place_name: Central Silk Board,
                                      last_stop_id: VptTRd0V,
                                      agency_name: BMTC,
                                      route_name: V-MF1C,
                                      start_time: 33900,
                                      end_time: 35696,
                                    },
                                  ],
                                total_fare: 35,
                                travel_time: 2021,
                              },
                            ],
                        },
                      status: OK,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v6/{city}/tripplanner/bus-wise":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    post:
      tags: ["Trips"]
      operationId: post_scheduler_v4_v6_city_tripplanner_bus_wise
      summary: "Plan a trip, bus-wise"
      description: |-
        Same itinerary payload as the `v5` planner, with the query moved into a JSON body.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TripPlannerRequestApiModel" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    fromLat: 12.91691,
                    fromLon: 77.62136,
                    fromStopId: qih5mR2N,
                    startTimeMillis: 1789098675000,
                    toLat: 12.9569,
                    toLon: 77.70215,
                    toStopId: 4RS7uUdv,
                    transitMode: bus,
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/TripPlannerResultApiResponseModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      payload:
                        {
                          nearbyItineraries: [],
                          itineraries:
                            [
                              {
                                distance: 11750,
                                inCompleteFare: false,
                                legs:
                                  [
                                    {
                                      special_features: [],
                                      first_stop_id: qih5mR2N,
                                      route_id: SHwjoGlU,
                                      distance: 11750,
                                      travel_time: 2270,
                                      frequency: 20,
                                      mode: BUS,
                                      isFrequencyLeg: true,
                                      end_place_name: Marathahalli Bridge,
                                      start_place_name: Central Silk Board,
                                      last_stop_id: 4RS7uUdv,
                                      from_lat: 12.91691,
                                      to_lat: 12.9569,
                                      from_lon: 77.62136,
                                      agency_name: BMTC,
                                      route_name: V-500K,
                                      end_time: 35969,
                                      tt_type: 0,
                                      start_time: 33699,
                                      ttSid: 0,
                                      station_type: BUS,
                                      to_lon: 77.70215,
                                    },
                                  ],
                                total_fare: 40,
                                travel_time: 2270,
                                fares:
                                  [
                                    {
                                      fare_tuples:
                                        [{ amount: 40, fare_type: ADULT }],
                                      default_fare: 40,
                                      leg_index: [0],
                                    },
                                  ],
                              },
                            ],
                        },
                      status: OK,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v5/{city}/summary":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    post:
      tags: ["Trips"]
      operationId: post_scheduler_v4_v5_city_summary
      summary: "Location summary with route status"
      description: |-
        The `v4` location summary plus per-route freshness. The body carries `routesStatus` (route id -> cached
        version) so the server can tell the client which cached routes are stale.
      security: []
      parameters:
        - name: lat
          in: query
          required: true
          description: "Latitude of the point to summarise."
          schema: { type: number }
          example: 12.91691
        - name: lon
          in: query
          required: true
          description: "Longitude of the point to summarise."
          schema: { type: number }
          example: 77.62136
        - name: time
          in: query
          required: true
          description: "Reference time as seconds since local midnight."
          schema: { type: integer }
          example: 34200
        - name: day
          in: query
          required: true
          description: "Day of week the timetable should be evaluated for."
          schema: { type: string }
          example: Friday
        - name: radius
          in: query
          required: true
          description: "Search radius in metres."
          schema: { type: integer }
          example: 2000
        - name: cards
          in: query
          required: true
          description: "Maximum number of summary cards to return."
          schema: { type: integer }
          example: 5
        - name: currentLat
          in: query
          required: false
          description: "Device's current latitude, when it differs from `lat`/`lon`."
          schema: { type: number }
          example: 12.91691
        - name: currentLon
          in: query
          required: false
          description: "Device's current longitude, when it differs from `lat`/`lon`."
          schema: { type: number }
          example: 77.62136
        - name: transitMode
          in: query
          required: false
          description: "Restrict the summary to one transit mode."
          schema:
            {
              type: string,
              enum: [bus, railway, metro, monorail, ferry, cab, transit],
            }
        - name: meta
          in: query
          required: false
          description: "JSON-encoded client metadata blob."
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TripSummaryRequestApiModel" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    requiredFields:
                      { routesStatus: {}, tripSummary: { id: 0 } },
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/LocationSummaryAndRouteStatusApiResponseModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      routesStatus: [],
                      tripSummary:
                        {
                          data:
                            [
                              {
                                summary:
                                  [
                                    {
                                      trip:
                                        {
                                          special_features: [],
                                          trip_id: BdEqwnjJ,
                                          route_id: SHwjoGlU,
                                          agency_name: BMTC,
                                          route_name: V-500K,
                                          spf: [],
                                          transport_type: bus,
                                          isFrequencyTrip: false,
                                          ttStatus: 0,
                                          ttSid: 0,
                                          duration: 0,
                                          tt_type: 0,
                                          extrapolated: true,
                                        },
                                      arrival_time: 34299,
                                    },
                                  ],
                                agency_name: BMTC,
                                distance: 0,
                                stop:
                                  {
                                    stop_lon: 77.62136,
                                    city: BENGALURU,
                                    stop_id: qih5mR2N,
                                    transport_type: bus,
                                    stop_lat: 12.91691,
                                    stateCode: KA,
                                    short_id: 38315,
                                    station_type: BUS,
                                    stop_name: Central Silk Board,
                                  },
                                stop_id: qih5mR2N,
                                transport_type: bus,
                                station_type: BUS,
                              },
                            ],
                          status: OK,
                        },
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/summary":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Trips"]
      operationId: get_scheduler_v4_v4_city_summary
      summary: "Location summary"
      description: |-
        Stops near a point, each with the next few trips arriving there. Backs the "what can I catch from here"
        card stack.
      security: []
      parameters:
        - name: lat
          in: query
          required: true
          description: "Latitude of the point to summarise."
          schema: { type: number }
          example: 12.91691
        - name: lon
          in: query
          required: true
          description: "Longitude of the point to summarise."
          schema: { type: number }
          example: 77.62136
        - name: time
          in: query
          required: true
          description: "Reference time as seconds since local midnight."
          schema: { type: integer }
          example: 34200
        - name: day
          in: query
          required: true
          description: "Day of week the timetable should be evaluated for."
          schema: { type: string }
          example: Friday
        - name: radius
          in: query
          required: true
          description: "Search radius in metres."
          schema: { type: integer }
          example: 2000
        - name: cards
          in: query
          required: true
          description: "Maximum number of summary cards to return."
          schema: { type: integer }
          example: 5
        - name: currentLat
          in: query
          required: false
          description: "Device's current latitude, when it differs from `lat`/`lon`."
          schema: { type: number }
          example: 12.91691
        - name: currentLon
          in: query
          required: false
          description: "Device's current longitude, when it differs from `lat`/`lon`."
          schema: { type: number }
          example: 77.62136
        - name: transitMode
          in: query
          required: false
          description: "Restrict the summary to one transit mode."
          schema:
            {
              type: string,
              enum: [bus, railway, metro, monorail, ferry, cab, transit],
            }
        - name: meta
          in: query
          required: false
          description: "JSON-encoded client metadata blob."
          schema: { type: string }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/LocationSummaryApiResponseModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      payload:
                        [
                          {
                            summary:
                              [
                                {
                                  trip:
                                    {
                                      special_features: [],
                                      trip_id: BdEqwnjJ,
                                      route_id: SHwjoGlU,
                                      agency_name: BMTC,
                                      route_name: V-500K,
                                      spf: [],
                                      transport_type: bus,
                                      isFrequencyTrip: false,
                                      ttStatus: 0,
                                      ttSid: 0,
                                      duration: 0,
                                      tt_type: 0,
                                      extrapolated: true,
                                    },
                                  arrival_time: 34299,
                                },
                              ],
                            agency_name: BMTC,
                            distance: 0,
                            stop:
                              {
                                stop_lon: 77.62136,
                                city: BENGALURU,
                                stop_id: qih5mR2N,
                                transport_type: bus,
                                stop_lat: 12.91691,
                                stateCode: KA,
                                short_id: 38315,
                                station_type: BUS,
                                stop_name: Central Silk Board,
                              },
                            stop_id: qih5mR2N,
                            transport_type: bus,
                            station_type: BUS,
                          },
                        ],
                      status: OK,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v4/{city}/stopdetails":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Trips"]
      operationId: get_scheduler_v4_v4_city_stopdetails
      summary: "List scheduled trips at a stop"
      security: []
      parameters:
        - name: stop_id
          in: query
          required: true
          description: Stop whose scheduled trips should be returned.
          schema: { type: string }
          example: qih5mR2N
        - name: day
          in: query
          required: true
          description: Day of week used to select the timetable.
          schema: { type: string }
          example: Friday
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/StopTripDetailsResponseApiModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    [
                      {
                        trip:
                          {
                            trip_id: clRxTfbZ,
                            special_features: [],
                            spf: [],
                            route_name: KIA-8A,
                            route_id: kbcnvDdB,
                            transport_type: bus,
                            agency_name: BMTC,
                            ttStatus: 0,
                            ttSid: 0,
                            duration: 0,
                            tt_type: 0,
                            isFrequencyTrip: false,
                            extrapolated: true,
                          },
                        arrival_time: 6099,
                      },
                    ]
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v5/{city}/stopPairsBetweenPoints":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Trips"]
      operationId: get_scheduler_v4_v5_city_stopPairsBetweenPoints
      summary: "Premium-bus stop pairs between two points"
      description: |-
        Boarding/alighting stop pairs for premium-bus service between two places, with the time and distance
        needed to reach each stop.
      security: []
      parameters:
        - name: fromId
          in: query
          required: true
          description: "Origin place or stop ID."
          schema: { type: string }
          example: qih5mR2N
        - name: fromIdSearchPartner
          in: query
          required: true
          description: "Search provider that produced `fromId`."
          schema: { type: string }
          example: chalo
        - name: fromIdType
          in: query
          required: true
          description: "Kind of id in `fromId`."
          schema: { type: string, enum: [place, stop, location] }
          example: stop
        - name: toId
          in: query
          required: true
          description: "Destination place or stop ID."
          schema: { type: string }
          example: 4RS7uUdv
        - name: toIdSearchPartner
          in: query
          required: true
          description: "Search provider that produced `toId`."
          schema: { type: string }
          example: chalo
        - name: toIdType
          in: query
          required: true
          description: "Kind of id in `toId`."
          schema: { type: string, enum: [place, stop, location] }
          example: stop
        - name: appVersion
          in: query
          required: true
          description: "Client version code."
          schema: { type: integer }
          example: 1340
        - name: serviceType
          in: query
          required: true
          description: "Sent as `Premium` by the app."
          schema: { type: string, enum: [Premium] }
          example: Premium
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/PBOriginDestinationApiResponseModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value: []
        default: { $ref: "#/components/responses/GenericError" }
  "/nearbybus/v2/city/{city}":
    servers:
      - url: https://geoquery.zophop.com
        description: Geo-query API host.
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    post:
      tags: ["Live Tracking"]
      operationId: post_nearbybus_v2_city_city
      summary: "Buses around you"
      description: |-
        Live vehicles within a radius of a point, each with its current position, next stop and ETA.
        `requiredFields` selects which optional blocks the response carries. Served by the geo-query host.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GeoQueryApiRequestModel" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    metaData:
                      {
                        appVer: 1340,
                        deviceId: generic-client,
                        locale: en,
                        userId: "",
                      },
                    requiredFields:
                      {
                        bannerInfo: { cachedVersionCode: "0" },
                        cardsInfo: {},
                        cityInfo:
                          {
                            cityId: bengaluru,
                            cityName: Bengaluru,
                            versionCode: 0,
                          },
                        nearbyBuses:
                          { lat: "12.91691", lng: "77.62136", radius: "1000" },
                        reportProblem: { cachedVersionCode: "0" },
                      },
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      { $ref: "#/components/schemas/GeoQueryApiResponseModel" },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      buses: [],
                      cardsInfo: { cards: [] },
                      reportProblemData: { versionCode: "4" },
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/vasudha/location/{city}/{agency}/bus/{busNo}":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
      - {
          name: agency,
          in: path,
          required: true,
          schema: { type: string },
          example: bmtc,
        }
      - {
          name: busNo,
          in: path,
          required: true,
          schema: { type: string },
          example: KA57F6034,
        }
    get:
      tags: ["Live Tracking"]
      operationId: get_vasudha_location_city_agency_bus_busNo
      summary: "Live GPS for one bus"
      description: |-
        Current position of a single vehicle, addressed by fleet number. Served from the `/vasudha` prefix on
        the standard host. Used for point lookups; the continuous feed comes over the Socket.IO connection
        instead.
      security: []
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/FetchVehicleLiveGpsLocationResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      lP:
                        {
                          ln: 77.594509,
                          ac: 0,
                          lt: 13.100757,
                          pSp: 0,
                          tS: 1789099366000,
                        },
                      md: bus,
                      bearing: 260.99,
                      ag: bmtc,
                      ct: bengaluru,
                      gpsSrc: gps,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/app/api/vasudha/cities/{city}/stop-route-eta":
    servers:
      - url: https://chalo.com
        description: Chalo API host.
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    post:
      tags: ["Live Tracking"]
      operationId: post_app_api_vasudha_cities_city_stop_route_eta
      summary: "Get ETAs for stop-route pairs"
      description: |-
        Polls arrival estimates for `stopId:routeId` keys. The production REST host currently rejects generic
        HTTP clients at CloudFront, so the response example wraps representative records captured from the
        equivalent Bengaluru production socket feed.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                $ref: "#/components/schemas/GetEtaForRouteStopIdRequestApiModel",
              }
            examples:
              liveCapture:
                summary: Production request sent for Bengaluru on 11 September 2026
                value: { stopIdRouteIdList: ["11XhQKT5:WflFF29b"] }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/GetEtaForRouteStopIdResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative Bengaluru ETA records captured on 11 September 2026
                  value:
                    {
                      stopRouteEtas:
                        {
                          "11XhQKT5:WflFF29b":
                            {
                              00cAJNO8p8UMr:
                                {
                                  lSId: dXF9lhdh,
                                  eta: 182,
                                  isHalted: false,
                                  vNo: KA57F4372,
                                  ag: bmtc,
                                  dist: 970,
                                  dest: Kempegowda International Airport,
                                  rN: KIA-8,
                                  tS: 1789116766000,
                                },
                              00cArFNTTKY0O:
                                {
                                  lSId: dXF9lhdh,
                                  eta: 23,
                                  isHalted: false,
                                  vNo: KA57F1839,
                                  ag: bmtc,
                                  dist: 120,
                                  dest: Kempegowda International Airport,
                                  rN: KIA-8,
                                  tS: 1789116741000,
                                },
                            },
                        },
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/configuration/crts/live/v2/cities/{city}":
    parameters:
      - name: city
        in: path
        required: true
        description: City identifier. The value below was sent in the live capture from 11 September 2026.
        schema: { type: string }
        example: bengaluru
    get:
      tags: ["Live Tracking"]
      operationId: get_configuration_crts_live_v2_cities_city
      summary: "Live-tracking socket configuration"
      description: |-
        Returns the Socket.IO endpoint (`connection.baseUrl` + `connection.path`) and reconnection policy the
        app uses for the real-time vehicle feed, plus the set of subscriptions it may open on it. The example
        request and response were captured from the production service at 2026-09-11T03:21:16Z.
      security: []
      parameters:
        - name: meta
          in: query
          required: true
          description: "Client description, serialised to JSON."
          content:
            application/json:
              schema:
                {
                  $ref: "#/components/schemas/ChaloSocketConfigRequestQueryModel",
                }
              examples:
                liveCapture:
                  summary: Production request captured for Bengaluru on 11 September 2026
                  value:
                    androidModel: generic-client
                    androidVersionCode: 1
                    city: bengaluru
                    language: en
                    osVersion: 35
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/ChaloSocketConfigResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value:
                    connection:
                      path: /products/live/partitions/0
                      baseUrl: https://crtslb.chalo.com
                      timeout: 20000
                      enableCookie: true
                      forceReconnection: false
                      reconnectionDelay: 1000
                      randomizationFactor: 0.5
                      reconnectionDelayMax: 5000
                    subscriptions:
                      etas:
                        isPolling: false
                        retryPolicy:
                          retryTimeout: 3000
                          retryMaxAttempts: 5
                          retryBackoffMultiplier: 1
                        resyncFrequency: 30000
                        randomizationFactor: 0.2
                      routes:
                        isPolling: false
                        retryPolicy:
                          retryTimeout: 3000
                          retryMaxAttempts: 5
                          retryBackoffMultiplier: 1
                        resyncFrequency: 30000
                        randomizationFactor: 0.2
                      etasList:
                        isPolling: true
                        pollingFrequency: 10000
                        randomizationFactor: 0.3
                      allRoutesEtas:
                        isPolling: true
                        pollingFrequency: 10000
                        randomizationFactor: 0.3
        default: { $ref: "#/components/responses/GenericError" }
  "/ondc/buyer/v1/fare":
    post:
      tags: ["Fares"]
      operationId: post_ondc_buyer_v1_fare
      summary: "ONDC fare quote"
      description: |-
        Fare for an ONDC journey. Shares its response model with the instant-ticket fare flow.
      security: []
      parameters:
        - name: appVer
          in: header
          required: true
          description: Client version code required by the production ONDC buyer service.
          schema: { type: integer }
          example: 1340
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: "#/components/schemas/ONDCFetchFareRequestApiModel" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    city: bengaluru,
                    endStopId: 4RS7uUdv,
                    providerId: BMTC,
                    routeId: SHwjoGlU,
                    startStopId: qih5mR2N,
                    transactionId: "",
                    tripFulfillmentId: "",
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/FetchMobileTicketFareResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      passengerDetails: [],
                      passengerSelectionPolicy: null,
                      journey: null,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/mticketing/v2/mobile-ticket/validate-fare":
    post:
      tags: ["Fares"]
      operationId: post_mticketing_v2_mobile_ticket_validate_fare
      summary: "Validate a mobile-ticket fare"
      description: |-
        Checks a fare quote before the user commits to buying. No token, so this is safe to call while browsing.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                $ref: "#/components/schemas/ValidateInstantTicketFareRequestApiModel",
              }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    city: bengaluru,
                    finalFare: 4000,
                    passengerDetails: [{ id: adult, count: 1 }],
                    tripDetail:
                      {
                        routeId: SHwjoGlU,
                        startStopId: qih5mR2N,
                        endStopId: 4RS7uUdv,
                      },
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/ValidateInstantTicketFareResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      finalFareCalculated: 40,
                      totalPassengers: 1,
                      pprFare: 4000,
                      finalFare: 4000,
                      isValid: true,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/seat/availability":
    post:
      tags: ["Fares"]
      operationId: post_seat_availability
      summary: "Seat availability for vehicles"
      description: |-
        Crowding/occupancy level per vehicle for the supplied vehicle ids.

        Each `vehicle[].status` is a crowding level, not a seat count: `0` or `3`
        means seats available (low crowding), `1` or `4` means standing space only
        (medium crowding), and `2` or `5` means overcrowded / no seats (high
        crowding). The reason for the two code groups is unverified. Treat any
        other integer as unknown and show no indicator, and match results by
        `number` rather than array position.
      security: []
      parameters:
        - name: mode
          in: header
          required: true
          description: >-
            City-configured seat-occupancy API mode, sent as a decimal integer string and
            mirroring `mode` in the body. Not a transit-mode ordinal. This operation has no
            query parameters.
          schema: { type: string }
          example: "2"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                $ref: "#/components/schemas/GetSeatAvailabilityRequestApiModel",
              }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    deviceId: generic-client,
                    cityId: bengaluru,
                    maxDelay: 60,
                    mode: 2,
                    occupancyFactor: 100,
                    vehicle:
                      [
                        { number: KA51AJ8574 },
                        { number: KA51AJ8907 },
                        { number: KA57F3362 },
                        { number: KA57F0175 },
                        { number: KA57F6200 },
                      ],
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/GetSeatAvailabilityResponseApiModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      vehicle:
                        [
                          { number: KA57F3362, status: -1 },
                          { number: KA57F0175, status: -1 },
                          { number: KA51AJ8574, status: 4 },
                          { number: KA57F6200, status: 3 },
                          { number: KA51AJ8907, status: 3 },
                        ],
                      vehicleCount: 5,
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/tub/v2/trips/aggregatedSlots":
    post:
      tags: ["Fares"]
      operationId: post_tub_v2_trips_aggregatedSlots
      summary: "Premium-bus departure slots, aggregated"
      description: |-
        Bookable departure slots for a set of origin/destination pairs, grouped for the pre-booking picker.
      security: []
      parameters:
        - name: city
          in: header
          required: true
          description: "City, lower-cased by the client."
          schema: { type: string }
          example: bengaluru
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                $ref: "#/components/schemas/AvailableSlotsRequestForPBPreBookingApiModel",
              }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    passId: "",
                    fromStopId: qih5mR2N,
                    toStopId: 4RS7uUdv,
                    routeIds: [SHwjoGlU],
                    startTimeInMillis: 1789115400000,
                    endTimeInMillis: 1789162200000,
                    tripStartTimeInMillisSinceMidnight: 0,
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/AvailableSlotsResponseForPBPreBookingApiModel",
                      },
                      { type: "null" },
                    ],
                }
        "500":
          description: Premium trip inventory is not enabled for Bengaluru.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      error:
                        {
                          code: 500,
                          status: INTERNAL_SERVER_ERROR,
                          message: "Invalid city name: bengaluru",
                          details:
                            [
                              {
                                type: UNHANDLED_EXCEPTION,
                                reason: SERVER_ERROR,
                                metadata: null,
                              },
                            ],
                        },
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/tub/v3/trips":
    post:
      tags: ["Fares"]
      operationId: post_tub_v3_trips
      summary: "Premium-bus trips"
      description: |-
        Individual bookable trips, the un-aggregated counterpart to `tub/v2/trips/aggregatedSlots`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: "#/components/schemas/PBAvailableSlotsApiRequestModel" }
            examples:
              liveCapture:
                summary: Production request captured for Bengaluru on 11 September 2026
                value:
                  {
                    userId: generic-client,
                    userAcquisitionChannel: null,
                    userCampaign: null,
                    slotSearchRequests:
                      [
                        {
                          fromStopId: qih5mR2N,
                          toStopId: 4RS7uUdv,
                          windowStartTime: 1789115400000,
                          windowEndTime: 1789162200000,
                          city: bengaluru,
                          fetchAvailableSeats: true,
                          routeIds: [SHwjoGlU],
                        },
                      ],
                    city: bengaluru,
                  }
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        type: array,
                        items:
                          {
                            $ref: "#/components/schemas/PBAvailableSlotsApiResponseModel",
                          },
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Production response captured for Bengaluru on 11 September 2026
                  value: null
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v5/{city}/search":
    parameters:
      - {
          name: city,
          in: path,
          required: true,
          schema: { type: string },
          example: bengaluru,
        }
    get:
      tags: ["Search & Geocoding"]
      operationId: get_scheduler_v4_v5_city_search
      summary: "Autocomplete within a city"
      security: []
      parameters:
        - name: searchSource
          in: query
          required: true
          description: "Which search surface issued the query."
          schema: { type: string }
          example: HOME_SEARCH
        - name: str
          in: query
          required: true
          description: "The text the user typed."
          schema: { type: string }
          example: Silk Board
        - name: location
          in: query
          required: false
          description: 'Bias point, as JSON `{"lat":..,"lon":..}`.'
          schema: { type: string }
          example: '{"lat":12.91691,"lon":77.62136}'
        - name: meta
          in: query
          required: true
          description: "Client description, serialised to JSON: `userId`, `deviceId`, `language`, `androidVersionCode`."
          schema: { type: string }
          example: '{"city":"bengaluru","osVersion":35,"language":"en","androidModel":"generic-client","androidVersionCode":1340}'
        - name: searchFilter
          in: query
          required: false
          description: "Extra filter, sent only when non-empty."
          schema: { type: string }
        - name: day
          in: query
          required: false
          description: "Day of week, sent for the default (non-place) search flavour."
          schema: { type: string }
        - name: station_type
          in: query
          required: false
          description: "Sent as `transit` for the default search flavour."
          schema: { type: string }
        - name: transitMode
          in: query
          required: false
          description: "Mode filter. The same value is sent as `category` on the city-independent variant."
          schema:
            {
              type: string,
              enum: [bus, railway, metro, monorail, ferry, cab, transit],
            }
        - name: category
          in: query
          required: false
          description: "See `transitMode`."
          schema: { type: string }
        - name: searchSourceFlow
          in: header
          required: true
          description: "Which UI flow the search came from."
          schema: { type: string }
          example: HOME_SEARCH
      responses:
        "4XX": { $ref: "#/components/responses/GenericError" }
        "200":
          description: Success
          content:
            application/json:
              schema:
                {
                  oneOf:
                    [
                      {
                        $ref: "#/components/schemas/AutoCompleteResultApiResponseModel",
                      },
                      { type: "null" },
                    ],
                }
              examples:
                liveCapture:
                  summary: Representative production response captured for Bengaluru on 11 September 2026
                  value:
                    {
                      data:
                        {
                          routes: [],
                          stopsAndPlaces:
                            [
                              {
                                result_type: PLACE,
                                searchPartner: heremaps,
                                description: "Silk Board Junction, Outer Ring Road, 1st Stage-Madiwala-Old Madiwala, BTM Layout, Bengaluru 560068, India",
                                place_id: "here:pds:place:356tdr1q-9f6fef191c20428181826472ddf7269b",
                              },
                            ],
                        },
                    }
        default: { $ref: "#/components/responses/GenericError" }
  "/scheduler_v4/v5/search/place":
    get:
      tags: ["Search & Geocoding"]
      operationId: get_scheduler_v4_v5_search_place
      summary: "Autocomplete across cities"
      description: |-
        Place and stop autocomplete that is not scoped to a city; the country comes from the `countryId` header.
      security: []
      parameters:
        - name: searchSource
          in: query
          required: true
          description: "Which search surface issued the query."
          schema: { type: string }
          example: HOME_SEARCH
        - name: str
          in: query
          required: true
          description: "The text the user typed."
          schema: { type: string }
          example: Silk Board
        - name: location
          in: query
          required: false
          description: 'Bias point, as JSON `{"lat":..,"lon":..}`.'
          schema: { type: string }
          example: '{"lat":12.91691,"lon":77.62136}'
        - name: meta
          in: query
          required: true
          description: "Client description, serialised to JSON: `userId`, `deviceId`, `language`, `androidVersionCode`."
          schema: { type: string }
          example: '{"city":"bengaluru","osVersion":35,"language":"en","androidModel":"generic-client","androidVersionCode":1340}'
[...]
